.container-fluid {
    width: 95%;
}

.side-header-narrow-bar-logo.bg-color-primary.d-flex.justify-content-center {
    background-color: #000000 !important;
}

html.side-header-hamburguer-sidebar #header.side-header {
    background: unset;
}

.hamburguer-btn .hamburguer span {
    background: #fbf348;
}

.side-header-narrow-bar-content.d-flex.align-items-center.text-center.h-100 {
    background-color: #000000 !important;
}

.hamburguer-btn .close span {
    background: #fbf348;
}

.hamburguer-btn .hamburguer span {
    position: absolute;
    left: -25px;
    width: 60px;
    height: 4px;
    transition: ease width 300ms;
    transform: translateX(10px);
    border-radius: 0px;
}

  .hamburguer-btn .hamburguer span:nth-child(2) {
    margin-top: 3px;
  }
  .hamburguer-btn .hamburguer span:nth-child(1) {
    margin-top: -5px;
  }
  .hamburguer-btn .hamburguer span:nth-child(3) {
    margin-top: 10px;
}

html.side-header-hamburguer-sidebar #header.side-header.side-header-lg {
    max-width: 100%;
}

#header .header-body {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    transition: min-height .3s ease;
    width: 100%;
    border-top: 3px solid #ededed;
    border-bottom: 1px solid transparent;
    z-index: 1001;
}


input.search-home {
    width: 75%;
    padding: 7px;
    border: unset;
    margin-right: -4px;
}

button.button-search-home {
    padding: 7px;
    width: 45px;
    background-color: #fbf348;
    border: unset;
}

ul#mainNav a {
    font-size: 5vw !important;
    line-height: 4vw;
    color: #fbf348 !important;
}

ul#mainNav a:hover {
    color: #fff !important;
}

ul#mainNav {
    height: auto !important;
}

form.search-menu {
    margin-bottom: 50px;
    margin-left: 30px;
}

header.header-display {
    position: relative;
    z-index: 1;
}

div#revolutionSlider_forcefullwidth {
    margin-top: -85px !important;
}

.header-logo-display img {
    margin-left: 40px;
    width: 75%;
}

nav.menu-display li {
    display: inline;
}

nav.menu-display a {
    color: #fff;
    padding: 20px;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 400;
    transition: 0.2s;
}

nav.menu-display a:hover {
    color: #fbf348;
    text-decoration: underline;
    font-weight: bold;
}

img.d-block.w-100.img-featured {
    height: 790px;
    object-fit: cover;
}

.carousel-control-prev {
    left: -75px;
}

.carousel-control-next {
    right: -75px;
}

/* .carousel-caption.d-none.d-md-block {
    position: absolute;
    text-align: left;
    top: 285px;
    left: 100px;
} */

.carousel-caption h1 {
    color: #fff;
    font-size: 75px;
    font-weight: bold;
    text-transform: uppercase;
}

.carousel-caption p {
    color: #fbf348;
    font-size: 27px;
}

h3.title-featured {
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

h5.tag-featured {
    width: 70%;
    margin: auto;
    padding: 0px 0px 50px 0px;
    font-size: 30px;
    text-align: center;
    line-height: 35px;
    text-transform: unset;
    margin-top: 50px;
    font-weight: bold;
}

h3.newest-titles {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

a.button-link {
    padding: 15px;
    margin-top: 20px;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    background-color: #fbf348;
}

a.button-link:hover {
    background-color: #000000;
    color: #fff;
    text-decoration: none;
}

.title-about h3 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.content-about {
    font-size: 25px;
    color: #000;
}

.content-about p {
    line-height: 35px;
    color: #000;
    font-weight: bold;
}

.button-about {
    padding: 15px;
    margin-top: 20px;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    background-color: #fbf348;
}

.button-about a {
    color: #000;
}

.button-about a:hover {
    color: #fff;
    text-decoration: none;
}


.py-5 {
    padding-top: 10rem !important;
    padding-bottom: 10rem !important;
}

.title-new-funfact h3 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.title-new-funfact p {
    font-size: 23px;
    color: #000;
    font-weight: bold;
    line-height: 10px;
}

img.img-fluid.img-contact {
    height: 480px;
    object-fit: cover;
    margin-bottom: 20px;
}

.title-contact h3 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.information-contact p {
    font-size: 20px;
    color: #000;
    font-weight: bold;
}
.information-contact h3 {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.information-contact {
    width: 80%;
}

footer#footer {
    background: #000000;
}

.footer-copyright.footer-copyright-style-2.pt-4.pb-5 {
    background: #000000 !important;
}

.col-md-6.col-lg-4.mb-5.mb-md-0.list-sosial-media-footer {
    margin-top: 100px;
}

.col-md-6.col-lg-3.mb-5.mb-lg-0.list-logo-footer ul li a {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff !important;
    margin-left: 7px;
    line-height: 35px;
}

.col-md-6.col-lg-4.mb-5.mb-md-0.list-sosial-media-footer ul li a {
    font-size: 20px;
    color: #fff !important;
    line-height: 35px;
}

.col-md-6.col-lg-3.list-bussiness-footer p {
    font-size: 20px;
    color: #fff !important;
}

.col-md-6.col-lg-3.list-bussiness-footer {
    margin-top: 100px;
}

button.btn.btn-large.btn-block.btn-primary {
    padding: 15px;
    margin-top: 20px;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    background-color: #fbf348;
    border: unset;
    border-radius: unset;
}

button.btn.btn-large.btn-block.btn-primary:hover {
    background-color: #000;
    color: #fff;
}

.header-logo-display {
    position: absolute;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
}

.image-newest {
    display: block;
    width: 830px;
    height: 440px;
}

.overlay-newest {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 830px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.719);
}

.container-newest:hover .overlay-newest {
    opacity: 1;
}

.judul-karya-newest {
    color: white;
    font-size: 32px;
    position: absolute;
    top: 80%;
    left: 19%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.kreator-karya-newest {
    color: #fbf348;
    font-size: 20px;
    position: absolute;
    top: 85%;
    left: 23.5%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
}

.container-newest {
    position: relative;
    width: 100%;
    cursor: pointer;
    margin-bottom: 10px;
}


.active {
    color: #fbf348 !important;
    text-decoration: underline;
    font-weight: bold !important;

}

/* Page About */


.title-page-about h3 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.content-desc-about p {
    font-size: 25px;
    line-height: 35px;
    color: #fff;
}

.title-our-service h3 {
    font-size: 40px;
    font-weight: 600;
}

.list-services ul li {
    font-size: 23px;
    margin-top: 13px;
}

img.img-fluid.img-our-service-about {
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin-top: 50px;
}

.title-our-team h3 {
    font-size: 40px;
    font-weight: 600;
}

.image-team {
    width: 400px;
    height: auto;
}

.overlay-team {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    right: 0;
    height: 100%;
    width: 0;
    opacity: 0;
    transition: .3s ease;
    background-color: #fbf348;
}

.container-img-team:hover .overlay-team {
    opacity: 1;
}

img.img-overlay-team {
    width: 400px;
    height: auto;
    margin-top: 10px;
}

.container-img-team {
    cursor: pointer;
    margin-top: 10px;
}

.detail-team h4 {
    font-size: 25px;
    font-weight: bold;
}

.detail-team p {
    font-size: 18px;
}

.timeline img {
    width: 100%;
}


/* Page Catalog */
.menu-catalog-active li {
    display: inline;
    padding: 10px;
}

.menu-catalog-active a {
    color: #000;
    font-size: 20px;
}

.menu-catalog-active a:hover {
    color: #000;
    font-weight: bold;
    transition: 300ms;
}

section.catalog {
    margin-top: 25px;
}

.catalog-active {
    color: #000 !important;
    text-decoration: underline;
    font-weight: bold !important;

}

.hamburguer-btn.hamburguer-btn-sticky-dark {
    transform: rotate(90deg);
    margin-left: 30px;
}

.header-logo-display .menu-display {
    margin-top: 15px;
    margin-right: 50px;
}


img.img-fluid.border-radius-0.img-news {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.owl-carousel.nav-style-1 .owl-nav .owl-next:before, .owl-carousel.nav-style-1 .owl-nav .owl-next:after, .owl-carousel.nav-style-1 .owl-nav .owl-prev:before, .owl-carousel.nav-style-1 .owl-nav .owl-prev:after {
    font-size: 40px;
}

.title-new-funfact h1 {
    font-size: 43px;
    font-weight: bold;
}

a.uk-position-center-left.uk-position-small.uk-hidden-hover.uk-icon.uk-slidenav-previous.uk-slidenav svg {
    color: #000;
    width: 20px;
    transition: 0.2s;
}

a.uk-position-center-right.uk-position-small.uk-hidden-hover.uk-icon.uk-slidenav-next.uk-slidenav svg {
    color: #000;
    width: 20px;
    transition: 0.2s;
}

a.uk-position-center-left.uk-position-small.uk-hidden-hover.uk-icon.uk-slidenav-previous.uk-slidenav svg:hover {
    color: #fbf348;
    width: 20px;
}

a.uk-position-center-right.uk-position-small.uk-hidden-hover.uk-icon.uk-slidenav-next.uk-slidenav svg:hover {
    color: #fbf348;
    width: 20px;
}

.header-row.flex-row.justify-content-center.py-5 {
    padding-top: 100px !important;
    padding-bottom: 10px !important;
}

img.logo-menu-side {
    width: 100%;
}

section.section-services {
    padding-top: 50px;
    padding-bottom: 50px;
}

section.py-5.first-section-about {
    padding-bottom: 50px !important;
    padding-top: 100px !important;
}

section.py-5.section-timeline {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

section.py-5.section-our-team {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}


.our-team {
    position: relative;
    display: inline-block;
}
.our-team .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.our-team:hover .img-top {
    display: inline;
}

img.img-before-hover {
    width: 400px;
}

.our-team:hover .img-top {
    display: inline;
    width: 400px;
}

img.img-after-hover {
    width: 400px;
    position: relative;
    left: -3%;
}

.arrow-slider-team {
    text-align: right;
    padding-top: 10px;
    padding-right: 50px;
    font-size: 35px;
}

.arrow-slider-team span {
    color: #000;
}

.carousel-dark .carousel-indicators [data-bs-target]{
    background-color: #fbf348;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 12px;
    height: auto;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}

section.py-5.newest {
    padding-top: 50px !important;
    padding-bottom: 100px !important;
}

section.py-5.about-home {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}

section.py-5.news-home {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}

section.py-5.contact-home {
    padding-top: 100px !important;
    padding-bottom: 50px !important;
}

nav.menu-display li {
    line-height: 34px;
}

img.logo-planet {
    width: 100%;
    padding-top: 25px;
}

input.search-home-hamburger {
    width: 60%;
    padding: 10px;
    border: unset;
    margin-right: -5px;
}

button.button-search-home-hamburger {
    padding: 10px;
    width: 45px;
    background-color: #fbf348;
    border: unset;
}

html.side-header-hamburguer-sidebar #header.side-header .header-nav.header-nav-links nav>ul>li>a {
    height: auto;
    transition: 0.5s;
}

.social-icons li a {
    transition: all .2s ease;
    border-radius: 100%;
    display: block;
    height: auto;
    line-height: 28px;
    width: 100%;
    text-align: center;
    color: #fff!important;
    text-decoration: none;
    font-size: 40px !important;
    margin: 10px;
}

.social-icons li:hover a{
    background-color: transparent;
}

.bi-instagram:hover, .bi-facebook:hover, .bi-twitter:hover{
    color: #fbf348;
}

.header-row.justify-content-end.pb-3.social-hamburger p {
    font-size: 22px;
    color: #fff;
    padding-right: 20px;
}

.header-row.justify-content-end.pb-3.social-hamburger {
    align-items: end !important;
}

.slider-container.rev_slider_wrapper.fullscreen-slider {
    height: 106vh !important;
}

section.featured {
    margin-top: 60px;
}

.uk-active img.img-news-funfact {
    width: 85%;
    height: 500px;
    object-fit: cover;
    margin-top: 0 !important;
    transition: 0.5s;
    margin-left: 135px;
}
  .img-news-funfact {
    width: 80%;
    height: 450px;
    margin-top: 20px;
  }

  a.uk-position-center-right.uk-position-small.uk-hidden-hover.uk-icon.uk-slidenav-next.uk-slidenav {
    position: absolute;
    right: 22%;
}

a.uk-position-center-left.uk-position-small.uk-hidden-hover.uk-icon.uk-slidenav-previous.uk-slidenav {
    position: absolute;
    left: 10.5%;
}

a.uk-slidenav svg polyline {

    stroke-width: 2.5;

}

.side-header-narrow-bar-bottom.d-flex.justify-content-center {
    margin-top: -50px;
}

i.bi.bi-chevron-compact-down {
    position: absolute;
    color: #ededed;
    right: 48%;
    font-size: 70px;
    top: 90%;
    z-index: 111;
    cursor: pointer;
}

html {
    scroll-behavior: smooth !important;
  }


.hamburguer-btn.active .close span {
    width: 50px;
    transition: ease all 300ms;
    height: 3px;
}

.carousel-indicators button.active {
    background-color: #fbf348!important;
    opacity: 100%;
    margin-left: 3px;
    margin-right: 3px;
}

.carousel-caption.d-none.d-md-block.content-slider-featured {
    text-align: left;
    padding-bottom: 85px;
    margin-left: -100px;
}

img.img-doodle-1 {
    position: absolute;
    left: -6%;
    width: 65%;
    top: 135%;
}

img.doodle {
    position: absolute;
    right: 0;
    width: 300px;
    z-index: 999999999999999;
    margin-top: -215px;
}
