::selection {
    background: #fbf248be;
    color: #000;
    text-shadow: none;
}

body {
    font-family: Poppins, sans-serif !important;
}

a {
    color: #000;
}

a:hover {
    color: #fbf348;
}

.header-logo-display {
    position: absolute;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px
}

.header-display.desktop.dark .header-row {
    padding-bottom: 0 !important;
}

.header-display.desktop.dark,
.header-display.desktop.dark .header-logo-display {
    background: #000;
}

.header-display.desktop.dark .header-logo-display {
    position: relative;
}

.container-fluid {
    width: 95%
}

.container.container-full {
    margin: 0 !important;
    padding: 0 !important;
    max-width: 100%;
}

.side-header-narrow-bar-logo.bg-color-primary.d-flex.justify-content-center {
    background-color: #000 !important
}

html.side-header-hamburguer-sidebar #header.side-header {
    background: unset
}

.hamburguer-btn .hamburguer span {
    background: #fbf348
}

.side-header-narrow-bar-content.d-flex.align-items-center.text-center.h-100 {
    background-color: #000 !important
}

.hamburguer-btn .close span {
    background: #fbf348
}

.hamburguer-btn .hamburguer span {
    position: absolute;
    left: -25px;
    width: 60px;
    height: 4px;
    transition: ease width .3s;
    transform: translateX(10px);
    border-radius: 0
}

.hamburguer-btn .hamburguer span:nth-child(2) {
    margin-top: 19px
}

.hamburguer-btn .hamburguer span:nth-child(1) {
    margin-top: 17px
}

.hamburguer-btn .hamburguer span:nth-child(3) {
    margin-top: 20px
}

html.side-header-hamburguer-sidebar #header.side-header.side-header-lg {
    max-width: 100%
}

#header .header-body {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, .5);
    transition: min-height .3s ease;
    width: 100%;
    border-top: 3px solid #ededed;
    border-bottom: 1px solid transparent;
    z-index: 1001
}

input.search-home {
    width: 75%;
    padding: 7px;
    border: unset;
    margin-right: -4px
}

button.button-search-home {
    height: 100%;
    width: 45px;
    background-color: #fbf348;
    border: unset
}

ul#mainNav a {
    font-size: 5vw !important;
    line-height: 4vw;
    color: #fbf348 !important
}

ul#mainNav a:hover {
    color: #fff !important
}

ul#mainNav {
    height: auto !important
}

form.search-menu {
    margin-bottom: 50px;
    margin-left: 30px
}

header.header-display {
    position: relative;
    z-index: 1
}

div#revolutionSlider_forcefullwidth {
    margin-top: -85px !important
}

.header-logo-display img {
    margin-left: 40px;
    width: 75%
}

nav.menu-display li {
    display: inline
}

nav.menu-display a {
    color: #fff;
    padding: 20px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
    transition: .5s
}

nav.menu-display a:hover {
    color: #fbf348;
    text-decoration: underline;
    font-weight: 700
}

img.d-block.w-100.img-featured {
    height: auto;
    object-fit: cover
}

.uk-position-center-left {
    left: unset !important;
}

.carousel-control-next,
.carousel-control-prev {
    opacity: 1;
    width: 10%;
}

.carousel-caption h1 {
    color: #fff !important;
}

.carousel-caption p {
    color: #fbf348;
    font-size: 27px
}

h1 {
    font-size: 5vw;
    line-height: 1em;
    font-weight: 800;
}

h2 {
    font-size: 4vw;
    line-height: 1em;
    font-weight: 800;
    text-transform: uppercase
}

h3 {
    font-size: 3vw;
    line-height: 1em;
    font-weight: 800;
    text-transform: uppercase
}

h4 {
    font-size: 2vw;
    line-height: 1em;
    font-weight: 800;
    text-transform: uppercase
}

h5 {
    font-size: 1vw;
    line-height: 1em;
    font-weight: 800;
    text-transform: uppercase
}

p {
    line-height: 1em;
    color: #4d4d4d;
    font-weight: normal;
    font-size: 2vw;
}

.tag-featured {
    width: 70%;
    margin: auto;
    padding: 0 0 50px 0;
    text-align: center;
    text-transform: unset;
    margin-top: 50px;
}

a.button-link {
    padding: 15px;
    margin-top: 20px;
    text-align: right;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    background-color: #fbf348
}

a.button-link:hover {
    background-color: #000;
    color: #fff;
    text-decoration: none
}

.content-about {
    font-size: 25px;
    color: #000
}

.button-about {
    padding: 15px;
    margin-top: 20px;
    text-align: right;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    background-color: #fbf348
}

.button-about a {
    color: #000
}

.button-about a:hover {
    color: #fff;
    text-decoration: none
}

.py-5 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important
}

img.img-fluid.img-contact {
    height: 480px;
    object-fit: cover;
    margin-bottom: 20px
}

.information-contact p {
    font-size: 20px;
    color: #000;
    font-weight: 700
}

.information-contact h3 {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase
}

.information-contact {
    width: 80%
}

#footer{
    margin-top: 0;
    border: none !important;
}

footer#footer {
    background: #111
}

.footer-copyright.footer-copyright-style-2.pt-4.pb-5 {
    background: #111 !important
}

.list-logo-footer ul li a {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff !important;
    margin-left: 7px;
    line-height: 35px
}

.list-sosial-media-footer ul li a {
    font-size: 20px;
    color: #fff !important;
    line-height: 35px
}

.list-bussiness-footer p {
    font-size: 20px;
    color: #fff !important
}

button.btn.btn-large.btn-block.btn-primary {
    padding: 15px;
    margin-top: 20px;
    text-align: right;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    background-color: #fbf348;
    border: unset;
    border-radius: unset
}

button.btn.btn-large.btn-block.btn-primary:hover {
    background-color: #000;
    color: #fbf348;
}

.btn.btn-black {
    background-color: #000;
    color: #fff;
}

.image-newest {
    display: block;
    width: auto;
    height: auto;
}

.overlay-newest {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: auto;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, .719)
}

.container-newest:hover .overlay-newest {
    opacity: 1
}

.judul-karya-newest {
    color: #fff;
    font-size: 2vw;
    font-weight: 700;
    text-transform: uppercase
}

.kreator-karya-newest {
    color: #fbf348;
    font-size: 1vw;
    font-weight: 700;
    margin: 0;
}

.newest-ovr-wrap {
    position: absolute;
    padding: 15px;
    bottom: 10%;
    left: 5%;
}

.container-newest {
    position: relative;
    width: 100%;
    margin-bottom: 10px
}

.active {
    color: #fbf348 !important;
    text-decoration: underline;
    font-weight: 700 !important
}

.title-page-about * {
    color: #fff !important
}

.content-desc-about p {
    font-size: 1.5vw;
    line-height: 1.3em;
    color: #fff;
    font-weight: 700
}

.list-services ul li {
    font-size: 2vw;
    line-height: 1.5vw;
    list-style-type: square
}

.title-our-service * {
    margin-bottom: 0
}

.list-services ul li span {
    font-size: 1.5vw;
    left: -10px;
    position: relative
}

img.img-fluid.img-our-service-about {
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin-top: 50px
}

.image-team {
    width: 400px;
    height: auto
}

.overlay-team {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    right: 0;
    height: 100%;
    width: 0;
    opacity: 0;
    transition: .3s ease;
    background-color: #fbf348
}

.container-img-team:hover .overlay-team {
    opacity: 1
}

img.img-overlay-team {
    width: 400px;
    height: auto;
    margin-top: 10px
}

.container-img-team {
    margin-top: 10px
}

.detail-team h4 {
    font-size: 25px;
    font-weight: 700
}

.detail-team p {
    font-size: 18px
}

.menu-catalog-active li {
    display: inline;
    padding: 10px
}

.menu-catalog-active a {
    color: #000;
    font-size: 20px
}

.menu-catalog-active a:hover {
    color: #000;
    font-weight: 700;
    transition: .3s
}

section.catalog {
    margin-top: 25px
}

.catalog-active {
    color: #000 !important;
    text-decoration: underline;
    font-weight: 700 !important
}

.hamburguer-btn.hamburguer-btn-sticky-dark {
    transform: rotate(90deg);
    margin-left: 30px
}

.header-logo-display .menu-display {
    margin-top: 15px;
    margin-right: 50px
}

img.img-fluid.border-radius-0.img-news {
    height: 500px;
    width: 100%;
    object-fit: cover
}

.owl-carousel.nav-style-1 .owl-nav .owl-next:after,
.owl-carousel.nav-style-1 .owl-nav .owl-next:before,
.owl-carousel.nav-style-1 .owl-nav .owl-prev:after,
.owl-carousel.nav-style-1 .owl-nav .owl-prev:before {
    font-size: 40px
}

.title-new-funfact p {
    font-size: 2vw;
    font-weight: normal;
    line-height: 1em;
    color: #4d4d4d;
}

.uk-position-small.uk-hidden-hover.uk-icon.uk-slidenav svg {
    color: #000;
    width: 20px;
    transition: .2s
}

#carouselExampleDark .uk-slidenav svg polyline {
    stroke-width: 3px
}

#carouselExampleDark button:hover .uk-slidenav svg,
.uk-position-small.uk-hidden-hover.uk-icon.uk-slidenav svg:hover {
    color: #fbf348;
    width: 20px
}

.header-row.flex-row.justify-content-center.py-5 {
    padding-top: 100px !important;
    padding-bottom: 10px !important
}

img.logo-menu-side {
    width: 100%
}

.our-team {
    position: relative;
    display: inline-block
}

.our-team .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99
}

.our-team:hover .img-top {
    display: inline
}

img.img-before-hover {
    width: 400px
}

.our-team:hover .img-top {
    display: inline;
    width: 400px
}

img.img-after-hover {
    width: 400px;
    position: relative;
    left: -3%
}

.arrow-slider-team {
    text-align: right;
    padding-top: 10px;
    padding-right: 50px;
    font-size: 35px
}

.arrow-slider-team span {
    color: #000;
    transition: .75s
}

.arrow-slider-team span:hover {
    color: #fbf348
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #fbf348
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 12px;
    height: auto;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease
}

section.py-5.newest {
    padding-top: 50px !important;
    padding-bottom: 100px !important
}

section.py-5.about-home {
    padding-top: 100px !important;
    padding-bottom: 100px !important
}

section.py-5.news-home {
    padding-top: 100px !important;
    padding-bottom: 100px !important
}

section.py-5.contact-home {
    padding-top: 100px !important;
    padding-bottom: 50px !important
}

nav.menu-display li {
    line-height: 34px
}

img.logo-planet {
    width: 100%;
    padding-top: 25px
}

input.search-home-hamburger {
    width: 60%;
    padding: 10px;
    border: unset;
    margin-right: -5px
}

button.button-search-home-hamburger {
    padding: 10px;
    width: 45px;
    background-color: #fbf348;
    border: unset
}

html.side-header-hamburguer-sidebar #header.side-header .header-nav.header-nav-links nav>ul>li>a {
    height: auto;
    transition: .5s
}

.social-icons li a {
    transition: all .2s ease;
    border-radius: 100%;
    display: block;
    height: auto;
    line-height: 28px;
    width: 100%;
    text-align: center;
    color: #fff !important;
    text-decoration: none;
    font-size: 40px !important;
    margin: 10px
}

.social-icons li:hover a {
    background-color: transparent
}

.bi-facebook:hover,
.bi-instagram:hover,
.bi-twitter:hover {
    color: #fbf348
}

.social-hamburger p {
    font-size: 22px;
    color: #fff;
    padding-right: 20px
}

.social-hamburger {
    align-items: end !important;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 15px
}

.slider-container.rev_slider_wrapper.fullscreen-slider {
    height: 106vh !important
}

section.featured {
    margin-top: 60px
}

.img-news-funfact {
    height: 35vw;
}

.uk-active img.img-news-funfact {
    height: 40vw;
    object-fit: cover;
    margin-top: 0 !important;
    transition: .5s;
    margin-left: 0;
}

.uk-width-4-5 {
    margin: auto;
}

a.uk-position-center-right.uk-position-small.uk-hidden-hover.uk-icon.uk-slidenav-next.uk-slidenav {
    position: absolute;
    right: 22%
}

a.uk-position-center-left.uk-position-small.uk-hidden-hover.uk-icon.uk-slidenav-previous.uk-slidenav {
    position: absolute;
    left: 10.5%
}

a.uk-slidenav svg polyline {
    stroke-width: 2.5
}

.side-header-narrow-bar-bottom.d-flex.justify-content-center {
    margin-top: -50px
}

.arrow-scroll-down {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 100;
}

i.bi.bi-chevron-compact-down {
    font-size: 5vw;
}

html {
    scroll-behavior: smooth !important
}

.hamburguer-btn.active .close span {
    width: 50px;
    transition: ease all .3s;
    height: 3px;
    margin-top: 20px
}

.carousel-indicators button.active {
    background-color: #fbf348 !important;
    opacity: 100%;
    margin-left: 3px;
    margin-right: 3px
}

.carousel-caption.d-none.d-md-block.content-slider-featured {
    text-align: left;
    padding-bottom: 85px;
    margin-left: -100px
}

.img-doodle-1 {
    position: absolute;
    left: -6%;
    width: 65%;
    top: 135%
}

.doodle {
    position: absolute;
    z-index: 999
}

.doodle.doodle-contact {
    width: 300px;
    margin-top: -215px;
    right: 0
}

.doodle.doodle-about {
    left: 0;
    margin-left: -5vw;
    top: 10vh;
}

.doodle.doodle-timeline {
    margin-left: -75px;
    top: 40%;
    width: 80%
}

.hamburguer-btn .hamburguer span {
    position: absolute;
    left: 0;
    width: 60px;
    height: 4px;
    transition: ease width .3s;
    border-radius: 0
}

.hamburguer-btn.hamburguer-btn-sticky-dark {
    transform: rotate(90deg);
    width: 5em;
    height: 5em
}

img.logo-footer {
    margin-left: -25px
}

#footer .footer-copyright p {
    color: #9b9999;
    margin: 0;
    padding: 0 10px;
    font-size: 14px
}

#footer a {
    transition: 1s !important
}

#footer a:hover {
    color: #fbf348 !important
}

html .scroll-to-top {
    color: #fff !important
}

html .scroll-to-top:hover {
    color: #fbf348 !important
}

.side-header .header-body {
    max-width: 94.4vw;
    position: relative
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Poppins, sans-serif !important;
    text-decoration: none !important;
    color: rgba(0, 0, 0, .9) !important;
    margin: 0 0 15px 0;
}

.content-desc {
    font-size: 1.5vw
}

.grey-desc {
    color: #4d4d4d !important
}

.team-img-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .5s
}

.uk-slider-items li:hover .team-img-hover {
    opacity: 1 !important;
}

.desc-team {
    margin: 15px 0;
}

.modal .close {
    position: absolute;
    right: 0;
    padding: 15px
}

.modal .close span {
    color: #000
}

.modal-dialog {
    width: auto !important;
    max-width: 40% !important;
    margin: auto !important;
    top: 25%
}

.modal-header {
    border-bottom: none !important
}

.modal-footer {
    border-top: none !important
}

.modal-content {
    border-radius: 0 !important;
    background-color: #fbf348 !important
}

.uk-transition-toggle {
    margin: 2.5px !important
}

#timeline {
    scroll-behavior: smooth !important;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: auto;
    height: auto;
    max-height: 90%;
    cursor: grab
}

#timeline::-webkit-scrollbar {
    display: none
}

.timeline-img-padding {
    padding: 0 !important
}

.scroll-button-padding {
    padding: 0 2vw 0 0 !important
}

.timeline img {
    width: 100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none
}

.button-scroll-wrapper {
    background-color: #fbf348;
    height: 90%
}

.button-scroll-wrapper .button-wrap {
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: center;
    align-content: center
}

.button-wrap button span {
    font-size: 3vw;
    -webkit-text-stroke: 1px #000;
    transition: .5s
}

.button-wrap button:hover span {
    color: #fbf348;
    text-shadow: 2px 2px #000
}

.modal button.close {
    opacity: 1
}

.modal button.close span {
    font-size: 4vw;
    color: #fbf348;
    font-weight: 400;
    transition: .5s;
    text-shadow: none
}

.modal button.close span:hover {
    color: #000
}

.reveal {
    /* position: relative; */
    /* transform: translateY(150px); */
    opacity: 0;
    /* transition: 2s all ease; */
}

.reveal.active-animation {
    transform: translateY(0);
    opacity: 1;
}

.active-animation.fade-bottom {
    animation: fade-bottom 1s ease-in;
}

.active-animation.fade-left {
    animation: fade-left 1s ease-in;
}

.active-animation.fade-right {
    animation: fade-right 1s ease-in;
}

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.nav-tabs {
    border: none;
    position: relative;
    left: -2vw;
}

.tabs .nav-tabs .nav-item a {
    border: none !important;
    color: #000 !important;
    background: none !important;
    font-size: 2vw;
    font-weight: 500;
    text-transform: uppercase;
}

.tabs .nav-tabs .nav-item a.active {
    color: #000;
    font-weight: bold;
    text-decoration: underline;
}

.tab-content {
    border: none;
    box-shadow: none;
    background-color: unset;
    margin-top: 1vw;
}

.tabs .col-yellow {
    background-color: #fbf348 !important;
}

.pilot-post {
    width: 15vw;
    height: 15vw;
    margin: auto;
}

.pilot-post img {
    width: auto;
    height: auto;
    position: relative;
    max-width: 21vw;
    top: 1vw;
    left: -3vw;
}

.pilot-title-wrap {
    text-align: center;
    padding: 15px;
}

.pilot-title-wrap .title {
    font-size: 1vw;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}

.pilot-title-wrap .author {
    font-size: 1vw;
    font-weight: 500;
    color: #4d4d4d;
    margin: 0;
}

.catalog-item-wrap {
    left: -4vw;
    position: absolute;
    top: 25%;
    z-index: 1;
}

.catalog-item-wrap .catalog-title {
    font-size: 6vw;
    color: #000;
    font-weight: bold;
    line-height: 1em;
}

.catalog-item-wrap .catalog-author {
    font-size: 2vw;
    color: #000;
    font-weight: 600;
    line-height: 1em;
    margin-bottom: 1vw;
    display: block;
}

.catalog-item-wrap button {
    display: block;
    margin-top: 1.5vw;
    border-radius: 0 !important;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 20px 20px;
    text-decoration: none !important;
    text-decoration-color: unset !important;
    text-transform: uppercase;
}

.catalog-item-wrap button:hover {
    background: #fbf348;
    color: #000;
    border: 1px solid #000;
}

.catalog-item-wrap button::before,
.catalog-item-wrap button::after {
    text-align: none !important;
}

.catalog-img-wrap {
    right: -4vw;
    position: relative;
    margin-top: -3vw;
}

.catalog-img-wrap img {
    width: auto;
}

.absolute {
    position: absolute !important;
}

.accordion .card {
    border: none !important;
}

.accordion .card .card-header {
    border-bottom: 2px solid #000;
    border-radius: 0 !important;
}


.accordion .card .card-title a {
    font-size: 1vw;
    font-weight: 600;
    line-height: 2em;
}

.accordion .card .card-title a::after {
    font-size: 2vw !important;
    font-weight: 600;
    line-height: 2em;
}

.accordion .accordion-toggle {
    padding: 1vw 0 !important;
}

.accordion .card-body {
    padding: 15px 0;
}

.accordion ul {
    padding: 0;
}

.accordion .card-body ul li {
    list-style: none;
    padding: 7.5px 0;
}

.accordion .card-body ul li a,
.accordion .card-body * {
    font-size: 1vw;
    color: #4d4d4d;
    font-weight: 500;
}

.accordion .form-check-input {
    border: 2px solid #000
}

.accordion .form-check-input:checked {
    background-color: #000;
    border-color: #000;
    background-image: none !important;
}

.news-item-detail {
    margin: 30px 0;
}

.doodle.doodle-news {
    bottom: 7vw;
    left: -6vw;
    width: 20vw;
    max-width: 100vw;
}

section.dark-section {
    background:#111111;
}

section.dark-section > * > * > * > * > *, section.dark-section > * > * > * > *, section.dark-section > * > * > * {
    color: #fff !important;
    line-height: 1.2em;
}